<div class="gap-2 p-2 flex flex-col w-full h-full">
  <p-tabs [value]="chatSourceId()" (valueChange)="onValueChange($event)" scrollable>
    <p-tablist>
      @for (tab of chatSources(); track tab.id) {
        <p-tab [value]="tab.id">
          @switch (tab.type) {
            @case ('global') {
              Global
            }
            @case ('room') {
              Room {{ tab.roomName }}
            }
            @case ('private') {
              @let info = playerInfos()[tab.toAccountId];
              {{ info.hasValue() ? info.value().displayName : '' }}
            }
          }
        </p-tab>
      }
    </p-tablist>
  </p-tabs>
  <app-chat-conversation [source]="chatSource()"></app-chat-conversation>
  <form class="flex gap-2 w-full" (ngSubmit)="onSendMessage()">
    <input class="grow" type="text" pInputText [(ngModel)]="message" name="chatMessage" />
    <button pButton class="h-full! aspect-square! p-0!" (click)="onSendMessage()">
      <ng-icon name="lucideSend" size="20px"></ng-icon>
    </button>
    <input type="submit" hidden />
  </form>
</div>
