<div class="gap-2 p-2 flex flex-col w-full h-full">
  <p-tabs [value]="chatSourceId()" (valueChange)="onValueChange($event)" scrollable>
    <p-tablist>
      @for (tab of chatSources(); track tab.id) {
        <p-tab [value]="tab.id">
          @switch (tab.conv.type) {
            @case ('global') {
              Global
            }
            @case ('room') {
              Room {{ tab.conv.roomName }}
            }
            @case ('private') {
              @let identity = identityService.identity();
              @let info =
                playerInfos()[
                  tab.conv.account_id1 === identity?.accountId
                    ? tab.conv.account_id2
                    : tab.conv.account_id1
                ];
              {{ identity && info.hasValue() ? info.value().displayName : '' }}
            }
          }
        </p-tab>
      }
    </p-tablist>
  </p-tabs>
  <app-chat-conversation [source]="chatSource()"></app-chat-conversation>
  <form class="flex gap-2 w-full items-end" (ngSubmit)="onSendMessage()">
    <textarea
      pTextarea
      [(ngModel)]="message"
      name="chatMessage"
      rows="1"
      autoResize
      cols="30"
      class="resize-none w-0 grow"
      (keydown)="textareaKeydown($event)"
    ></textarea>
    <button pButton class="h-10! w-10! p-0!" (click)="onSendMessage()">
      <ng-icon name="lucideSend" size="20px"></ng-icon>
    </button>
    <input type="submit" hidden />
  </form>
</div>
