@let takGame = game();
@let pOrder = playerOrder();
<div class="board-container">
  <app-game-player-bar
    [gamePlayer]="players()[pOrder.p2]"
    [game]="takGame"
    [playerColor]="pOrder.p2"
  ></app-game-player-bar>
  <app-board-ninja-component
    [game]="takGame"
    [settings]="settings()"
    [mode]="mode()"
    (action)="action.emit($event)"
  ></app-board-ninja-component>
  <app-game-player-bar
    [gamePlayer]="players()[pOrder.p1]"
    [game]="takGame"
    [playerColor]="pOrder.p1"
  ></app-game-player-bar>
  @let gameState = takGame.actualGame.gameState;
  @if (gameState.type !== 'ongoing') {
    <p-button (click)="showGameOverInfo.set(true)" class="absolute top-15 left-1/2 -translate-x-1/2"
      >Show Game Over Info</p-button
    >
    <p-dialog
      [(visible)]="showGameOverInfo"
      header="Game Over"
      [modal]="true"
      [dismissableMask]="true"
      [draggable]="false"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [style]="{ width: '30vw' }"
    >
      @if (gameState.type === 'win') {
        <p>
          {{ gameState.player === 'white' ? 'White' : 'Black' }} wins by
          @switch (gameState.reason) {
            @case ('road') {
              completing a road!
            }
            @case ('flats') {
              flat count!
            }
            @case ('timeout') {
              timeout!
            }
            @case ('resignation') {
              resignation!
            }
          }
        </p>
      } @else {}
    </p-dialog>
  }
</div>
