:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.board-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}
