@let takGame = game();
@let pOrder = playerOrder();
<div
  class="board-container w-full max-xl:overflow-y-scroll h-full flex flex-col xl:grid max-w-400 mx-auto xl:pl-4"
>
  <div class="max-xl:order-1 p-2 xl:p-0 xl:py-4">
    <app-game-player-bar
      [gamePlayer]="players()[pOrder.p2]"
      [game]="takGame"
      [playerColor]="pOrder.p2"
    >
    </app-game-player-bar>
  </div>
  <div></div>

  <div class="w-full h-full max-xl:aspect-[0.9] max-xl:max-h-2/3 max-xl:order-2">
    @switch (settingsService.generalSettings().boardType) {
      @case ('2d') {
        <app-board-native-component [game]="takGame" [mode]="mode()" (action)="action.emit($event)">
        </app-board-native-component>
      }
      @case ('3d') {
        <app-board-ngt-component [game]="takGame" [mode]="mode()" (action)="action.emit($event)">
        </app-board-ngt-component>
      }
      @case ('ninja') {
        <app-board-ninja-component [game]="takGame" [mode]="mode()" (action)="action.emit($event)">
        </app-board-ninja-component>
      }
    }
  </div>
  <div class="h-full w-full max-xl:order-4 xl:w-120 p-4 pb-0 xl:py-0">
    <app-game-side-panel
      [game]="takGame"
      [drawOffer]="myDrawOffer()"
      [undoRequest]="myUndoRequest()"
      [requests]="opponentRequests()"
      (setHistoryPlyIndex)="setHistoryPlyIndex.emit($event)"
      (requestDraw)="requestDraw.emit($event)"
      (requestUndo)="requestUndo.emit($event)"
      (retractRequest)="retractRequest.emit($event)"
      (requestDecision)="requestDecision.emit($event)"
      (resign)="resign.emit()"
    ></app-game-side-panel>
  </div>

  <div class="max-xl:order-3 p-2 xl:p-0 xl:py-4">
    <app-game-player-bar
      [gamePlayer]="players()[pOrder.p1]"
      [game]="takGame"
      [playerColor]="pOrder.p1"
    >
    </app-game-player-bar>
  </div>
  <div></div>
</div>
