:host {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
}
