:host {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.piece {
  transition:
    width 0.2s ease,
    height 0.2s ease,
    transform 0.2s ease;
}
