@for (item of adjustedVariations(); track $index) {
  <div class="flex flex-row items-center gap-2 mt-1">
    <span
      [class]="
        `variationlabel px-2 py-1 font-bold rounded-sm font-mono text-sm border border-surface-200 dark:border-surface-700 ${item.evaluation >= 0 ? 'bg-surface-0 text-surface-800' : 'bg-surface-950 text-surface-100'}`
      "
      >{{ item.displayEvaluation }}</span
    >
    <span class="font-mono text-sm text-nowrap overflow-hidden">{{ item.displayMoves }}</span>
  </div>
}
