@let eval = adjustedEvaluation();
@let evalText = displayEvaluation();
<div
  class="flex flex-row w-full h-8 rounded-lg overflow-hidden border border-surface-200 dark:border-surface-700"
>
  <div
    class="bg-surface-0 justify-start evalbar flex flex-row items-center"
    [style]="{ width: `${eval}%` }"
  >
    <span
      [class]="
        `evallabel px-2 font-mono text-surface-800 text-sm ${eval >= 50 ? 'opacity-100' : 'opacity-0'}`
      "
      >{{ evalText }}</span
    >
  </div>
  <div
    class="bg-surface-950 justify-end evalbar flex flex-row items-center"
    [style]="{ width: `${100 - eval}%` }"
  >
    <span
      [class]="
        `evallabel px-2 font-mono text-surface-100 text-sm ${eval < 50 ? 'opacity-100' : 'opacity-0'}`
      "
      >{{ evalText }}</span
    >
  </div>
</div>
