<div
  class="w-full h-full bg-surface-0 dark:bg-surface-900 border border-surface-200 dark:border-surface-700 rounded-md flex flex-col"
>
  <div class="flex gap-2 p-2">
    <button pButton class="aspect-square p-2!" [disabled]="!canUndo()" (click)="onClickUndo()">
      <ng-icon name="lucideUndo" size="20px"></ng-icon>
    </button>
    <button pButton class="aspect-square p-2!" (click)="onClickDraw()">
      <ng-icon name="lucideHandshake" size="20px"></ng-icon>
    </button>
    <button pButton class="aspect-square p-2!" (click)="resign.emit()">
      <ng-icon name="lucideFlag" size="20px"></ng-icon>
    </button>
  </div>
  <p-scrollpanel [style]="{ width: '100%', height: '150px', flexGrow: '1' }">
    <div class="flex flex-col min-w-70 p-2">
      @for (row of historyItems(); track $index) {
        <div [class]="`p-2 flex w-full ${$index % 2 === 0 ? 'bg-emphasis' : ''} rounded-md`">
          @for (item of row; track $index) {
            @switch (item.type) {
              @case ('moveNumber') {
                <div class="font-mono text-muted-color min-w-12">
                  {{ item.text }}
                </div>
              }
              @case ('whiteMove') {
                <button
                  [class]="
                    `font-mono font-bold min-w-20 text-left hover:underline ${item.active ? '' : 'text-muted-color'}`
                  "
                  (click)="setHistoryPlyIndex.emit(item.plyIndex)"
                >
                  {{ item.text }}
                </button>
              }
              @case ('blackMove') {
                <button
                  [class]="
                    `font-mono font-bold min-w-20 text-left ml-4 hover:underline ${item.active ? '' : 'text-muted-color'}`
                  "
                  (click)="setHistoryPlyIndex.emit(item.plyIndex)"
                >
                  {{ item.text }}
                </button>
              }
              @case ('gameResult') {
                <div class="font-mono font-bold">
                  {{ item.text }}
                </div>
              }
            }
          }
        </div>
      }
    </div>
  </p-scrollpanel>
</div>
