<div
  class="w-full h-full bg-surface-0 dark:bg-surface-900 border border-surface-200 dark:border-surface-700 rounded-md flex flex-col"
>
  <app-game-actions-panel
    [game]="game()"
    [drawOffer]="drawOffer()"
    [undoRequest]="undoRequest()"
    (requestDraw)="requestDraw.emit($event)"
    (requestUndo)="requestUndo.emit($event)"
    (retractRequest)="retractRequest.emit($event)"
    (resign)="resign.emit()"
  ></app-game-actions-panel>
  <app-game-info-panel
    [game]="game()"
    [requests]="requests()"
    (setHistoryPlyIndex)="setHistoryPlyIndex.emit($event)"
    (requestDecision)="requestDecision.emit($event)"
  ></app-game-info-panel>
  <p-divider />
  <app-game-chat-panel></app-game-chat-panel>
</div>
