<div class="w-full h-full relative">
  @let hidden = !show() || loadingState.active();
  @if (hidden) {
    <div class="absolute inset-0 flex items-center justify-center z-10">
      <div class="w-1/2 flex flex-col gap-4 items-stretch">
        <p>Loading...</p>
        <p-progress-bar [value]="loadingState.progress()"></p-progress-bar>
      </div>
    </div>
  }
  <div
    [class]="
      `absolute inset-0 rounded-md overflow-hidden ${hidden ? 'opacity-0' : ''} transition-opacity`
    "
  >
    <ngt-canvas [shadows]="true">
      <app-board-ngt-canvas
        *canvasContent
        [game]="game()"
        (action)="action.emit($event)"
        [mode]="mode()"
      />
    </ngt-canvas>
  </div>
</div>
