<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  header="New Game"
  [draggable]="false"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">New Seek</p-tab>
      <p-tab value="1">Play Local</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-new-seek-form (createSeek)="onCreateSeek($event)"></app-new-seek-form>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p class="m-0">Nothing here yet!</p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-dialog>
