<ngts-perspective-camera [options]="{ makeDefault: true, position: [-3, 5, 5] }" />
<ngt-ambient-light [intensity]="0.7" />
<ngt-spot-light
  [position]="[5, 10, -10]"
  [intensity]="0.5 * PI"
  [angle]="0.5"
  [penumbra]="1"
  [decay]="0"
/>
<ngts-soft-shadows [options]="{ size: 25, samples: 17, focus: 0 }" />
<ngt-directional-light
  [castShadow]="true"
  [position]="[5, 8, 5]"
  [intensity]="1.5"
  [shadow.bias]="-0.0001"
  [shadow.mapSize.width]="2048"
  [shadow.mapSize.height]="2048"
  [shadow.camera.far]="40"
  [shadow.camera.left]="-6"
  [shadow.camera.right]="6"
  [shadow.camera.top]="6"
  [shadow.camera.bottom]="-6"
/>
<ngt-point-light [position]="-10" [intensity]="0.5 * PI" [decay]="0" />
@let settings = gameSettings();
<ngt-mesh [position]="[0, -0.251, 0]" [receiveShadow]="true">
  <ngt-box-geometry *args="[settings.boardSize + 6, 0.3, settings.boardSize + 3]" />
  <ngt-mesh-standard-material [color]="'#6B4F2A'" />
</ngt-mesh>
<ngt-mesh [position]="[0, -0.052, 0]" [receiveShadow]="true" [castShadow]="true">
  <ngt-box-geometry *args="[settings.boardSize + 0.5, 0.09, settings.boardSize + 0.5]" />
  <ngt-mesh-standard-material [color]="'#555555'" />
</ngt-mesh>
<ngt-group>
  @for (item of tilePositions(); track $index) {
    <ngt-mesh
      [position]="[
        item.pos.x - settings.boardSize / 2 + 0.5,
        -0.001,
        item.pos.y - settings.boardSize / 2 + 0.5,
      ]"
      [rotation]="tileRotation"
      (click)="onTileClick(item.pos)"
      [receiveShadow]="true"
    >
      <ngt-plane-geometry [args]="[1, 1]" />
      <ngt-mesh-standard-material
        [color]="(item.pos.x + item.pos.y) % 2 === 0 ? '#8b4513' : '#a0522d'"
      />
    </ngt-mesh>
  }
  @for (piece of pieceData(); track $index) {
    <app-board-ngt-piece
      [id]="piece.id"
      [data]="piece.data"
      [settings]="gameSettings()"
      [game]="game()"
      [mode]="mode()"
      [currentVariant]="currentVariant()"
      (clickPiece)="setCurrentVariant($event)"
    ></app-board-ngt-piece>
  }
</ngt-group>

<ngts-orbit-controls
  [options]="{ makeDefault: true, enablePan: false, mouseButtons: mouseButtons }"
>
</ngts-orbit-controls>
<ngtp-effect-composer>
  <ngtp-n8ao
    [options]="{
      aoRadius: 1,
      intensity: 4,
      aoSamples: 16,
      denoiseSamples: 8,
    }"
  />
  <ngtp-smaa />
</ngtp-effect-composer>
