@let takGame = game();
@let settings = gameSettings();
@let pBoardSettings = boardSettings();
<div
  class="w-full h-full border border-surface-200 dark:border-surface-700 rounded-md p-2 flex flex-col overflow-hidden touch-none"
  [style.backgroundColor]="pBoardSettings.theme.background"
>
  <div class="w-full h-full relative">
    <div class="absolute inset-0 m-auto w-auto h-auto max-w-full max-h-full aspect-square">
      <div
        class="w-full h-full grid"
        [style]="{
          gridTemplateColumns: `repeat(${takGame.actualGame.settings.boardSize}, minmax(0, 1fr))`,
        }"
      >
        @let interactive = areTilesInteractive();
        @for (item of tilePositions(); track $index) {
          <app-board-tile
            [interactive]="interactive"
            [x]="item.pos.x"
            [y]="item.pos.y"
            [settings]="settings"
            [gameState]="takGame.actualGame.gameState"
            [plyIndex]="takGame.plyIndex"
            (tileClick)="onClickTile(item.pos)"
            [data]="item.data"
            [boardSettings]="pBoardSettings"
          ></app-board-tile>
        }
        <div class="absolute inset-0 pointer-events-none">
          @for (piece of pieceData(); track piece.id) {
            <app-board-piece
              [data]="piece.data"
              [settings]="settings"
              [boardSettings]="pBoardSettings"
            ></app-board-piece>
          }
        </div>
      </div>
    </div>
  </div>
  @let available = canPlace();
  @if (available) {
    <div class="flex gap-2 pt-2">
      <button
        pButton
        pRipple
        class="w-0 grow"
        (click)="setVariant('flat')"
        [disabled]="!available.flat"
        [severity]="currentVariant() === 'flat' ? 'primary' : 'secondary'"
      >
        Flat
      </button>
      <button
        pButton
        pRipple
        class="w-0 grow"
        (click)="setVariant('standing')"
        [disabled]="!available.standing"
        [severity]="currentVariant() === 'standing' ? 'primary' : 'secondary'"
      >
        Standing
      </button>
      <button
        pButton
        pRipple
        class="w-0 grow"
        (click)="setVariant('capstone')"
        [disabled]="!available.capstone"
        [severity]="currentVariant() === 'capstone' ? 'primary' : 'secondary'"
      >
        Capstone
      </button>
    </div>
  } @else {
    <div class="h-2"></div>
  }
</div>
