<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  header="Your Profile"
  [draggable]="false"
  [breakpoints]="{ '1280px': '60vw', '900px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
>
  <div class="flex flex-col items-center gap-4">
    @let url = avatarUrl();
    <div
      class="w-64 h-64 rounded-lg border border-surface-200 dark:border-surface-700 overflow-hidden flex items-center justify-center"
    >
      @if (url !== null) {
        <img [src]="avatarUrl()" alt="Profile Picture" class="w-full h-full" />
      } @else {
        <p-progress-spinner ariaLabel="loading" />
      }
    </div>
    <p-fileupload
      [multiple]="false"
      accept="image/*"
      maxFileSize="1000000"
      [customUpload]="true"
      mode="basic"
      (uploadHandler)="onUpload($event)"
      [auto]="true"
    >
    </p-fileupload>
    <p class="text-muted-color">Recommended size: 256x256 pixels</p>
  </div>
</p-dialog>
