<form (ngSubmit)="onSubmit()">
  @for (item of uiWithIds(); track item.id) {
    @switch (item.node.attributes.node_type) {
      @case ('input') {
        <app-kratos-input-component
          [messages]="item.node.messages"
          [attributes]="item.node.attributes"
          [meta]="item.node.meta"
          [value]="data()[item.node.attributes.name]"
          (valueChange)="onValueChange(item.node.attributes, $event)"
          [validity]="validity()[item.node.attributes.name]"
          [(submitMethod)]="submitMethod"
        ></app-kratos-input-component>
      }
      @case ('a') {
        <a class="mt-4" pButton [routerLink]="item.node.attributes.href">{{
          item.node.meta.label?.text ?? ''
        }}</a>
      }
      @case ('text') {
        <p-message class="mt-4" size="small" variant="simple">{{
          item.node.attributes.text
        }}</p-message>
      }
    }
  }
  @for (item of ui().messages; track $index) {
    <p-message
      class="mt-4"
      [severity]="item.type === 'error' ? 'error' : 'info'"
      size="small"
      variant="simple"
      >{{ item.text }}</p-message
    >
  }
</form>
