<form (ngSubmit)="onSubmit()">
  @for (item of ui().nodes; track $index) {
    @switch (item.attributes.node_type) {
      @case ('input') {
        <app-kratos-input-component
          [messages]="item.messages"
          [attributes]="item.attributes"
          [meta]="item.meta"
          [value]="data()[item.attributes.name]"
          (valueChange)="onValueChange(item.attributes, $event)"
          [validity]="validity()[item.attributes.name]"
          [(submitMethod)]="submitMethod"
        ></app-kratos-input-component>
      }
      @case ('a') {
        <a class="mt-4" pButton [routerLink]="item.attributes.href">{{
          item.meta.label?.text ?? ''
        }}</a>
      }
      @case ('text') {
        <p-message class="mt-4" size="small" variant="simple">{{ item.attributes.text }}</p-message>
      }
    }
  }
  @for (item of ui().messages; track $index) {
    <p-message
      class="mt-4"
      [severity]="item.type === 'error' ? 'error' : 'info'"
      size="small"
      variant="simple"
      >{{ item.text }}</p-message
    >
  }
</form>
