@let player = playerInfo();
@let stats = playerStats();
@if (player) {
  <p-card>
    <div class="flex flex-row gap-2">
      <img [src]="'/emotes/road_toad.png'" alt="Player Avatar" class="w-32 h-32 rounded-lg" />
      <div class="flex flex-col grow">
        <div class="font-bold text-2xl flex items-center gap-2">
          <h1>{{ player.displayName }}</h1>
          @let svg = flagSvg();
          @if (svg) {
            <div [innerHTML]="svg" class="w-8 rounded-sm overflow-clip"></div>
          }
        </div>
        <p class="text-muted-color mb-4">@{{ player.username }}</p>
      </div>
      @if (canEditProfile()) {
        <div>
          <button
            pButton
            severity="secondary"
            class="aspect-square"
            (click)="editDialogVisible.set(true)"
          >
            <ng-icon name="lucideEdit" size="20px"></ng-icon>
          </button>
        </div>
      }
    </div>
  </p-card>
  <div class="flex gap-4 w-full">
    <p-card class="grow w-0!">
      <div class="flex flex-col items-center">
        <ng-icon name="lucideTrophy" size="60px" />
        <p class="text-primary text-4xl mt-4">{{ player.rating?.rating ?? '...' | round }}</p>
        <p>Rating</p>
      </div>
    </p-card>
    <p-card class="grow w-0!">
      <div class="flex flex-col items-center">
        <ng-icon name="lucideSwords" size="60px" />
        <p class="text-primary text-4xl mt-4">{{ stats?.gamesPlayed ?? '...' }}</p>
        <p>Games</p>
      </div>
    </p-card>
  </div>
  @if (stats) {
    <p-metergroup [value]="wdlItems()" [dt]="thickMeter"></p-metergroup>
  }
  @let gameHistory = playerGameHistory.value();
  @if (gameHistory) {
    <p-card>
      <div class="flex flex-col gap-2">
        @for (game of gameHistory.items; track $index) {
          <div class="flex p-2 items-center gap-2">
            <button
              pButton
              pRipple
              (click)="onViewGame(game.id)"
              class="aspect-square"
              severity="secondary"
            >
              <ng-icon name="lucideEye"></ng-icon>
            </button>
            <p>{{ game.date | date: 'medium' }}</p>
            <p>
              {{ game.result ?? '0-0' }}
              against
              <app-player-label
                [playerId]="
                  game.playerIds.white === player.id ? game.playerIds.black : game.playerIds.white
                "
              ></app-player-label>
            </p>
          </div>
        }
      </div>
    </p-card>
  } @else {
    <p-progress-spinner></p-progress-spinner>
  }
}
@if (canEditProfile()) {
  <app-edit-player-profile-dialog
    [(visible)]="editDialogVisible"
    [currentProfile]="playerProfile.value()"
    (updateProfile)="onUpdateProfile($event)"
  ></app-edit-player-profile-dialog>
}
