:host {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
