<p-drawer [(visible)]="visible" styleClass="w-54!" appendTo="self" class="lg:hidden">
  <ng-template #headless>
    <div class="h-12"></div>
    <ng-container *ngTemplateOutlet="navContent"></ng-container>
  </ng-template>
</p-drawer>
<div
  class="w-full h-full flex items-center lg:hidden border-b bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 z-10000 relative"
>
  <p-button
    (click)="toggleVisible()"
    class="aspect-square!"
    severity="secondary"
    variant="text"
    styleClass="w-full h-full"
  >
    <ng-icon name="lucideMenu" size="20px" />
  </p-button>
  <a class="text-2xl font-bold ml-2 my-2" [routerLink]="'/'" [draggable]="false">Playtak</a>
</div>

<div
  class="w-full h-full max-lg:hidden border-r bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-700 flex flex-col items-stretch gap-1 pt-2"
>
  <a class="text-2xl font-bold p-2 pl-6" [routerLink]="'/'" [draggable]="false">Playtak</a>
  <ng-container *ngTemplateOutlet="navContent"></ng-container>
</div>

<ng-template #navContent>
  <div class="w-full h-0 grow flex flex-col items-stretch p-2 gap-1">
    @for (item of items(); track $index) {
      @if (item.type === 'button') {
        <p-button
          variant="text"
          severity="contrast"
          class="flex items-center gap-2 cursor-pointer"
          fluid
          (click)="item.command()"
        >
          <ng-icon [name]="item.icon" size="20px" />
          <span class="grow text-left">{{ item.label }}</span>
        </p-button>
      } @else {
        <a draggable="false" [routerLink]="item.routerLink" class="cursor-pointer">
          <p-button
            variant="text"
            severity="contrast"
            class="flex items-center gap-2 cursor-pointer"
            fluid
          >
            <ng-icon [name]="item.icon" size="20px" />
            <span class="grow text-left">{{ item.label }}</span>
          </p-button>
        </a>
      }
    }
    <div class="grow"></div>
    @let identity = identityService.identity();
    @let info = playerInfo();
    @if (identity !== null) {
      <a
        draggable="false"
        [routerLink]="identity.isGuest ? '/authenticate' : '/account'"
        class="cursor-pointer"
      >
        <p-button
          variant="text"
          severity="contrast"
          class="flex items-center gap-2 cursor-pointer"
          fluid
        >
          <ng-icon name="lucideUser" size="20px" />
          <span class="grow w-0 text-left text-ellipsis overflow-hidden">{{
            info && info.hasValue() ? info.value().displayName : ''
          }}</span>
        </p-button>
      </a>
      @if (identity.isGuest) {
        <a
          pButton
          pRipple
          draggable="false"
          [routerLink]="'/authenticate'"
          class="flex px-2 items-center py-2 gap-2 cursor-pointer"
        >
          <span>Login</span>
        </a>
      }
    }
  </div>
</ng-template>

<app-seeks-dialog-component [(visible)]="seeksDialogVisible" />
<app-games-dialog-component [(visible)]="gamesDialogVisible" />
<app-new-game-dialog [(visible)]="newGameDialogVisible" />
