@let player = playerInfo();

<p-menubar [model]="items">
  <ng-template #start>
    <a class="logo" routerLink="/">Playtak</a>
  </ng-template>
  <ng-template #item let-item>
    @let val = typedItem(item);
    @if (val.command) {
      <button pRipple class="flex px-2 items-center py-1 gap-2 cursor-pointer">
        <ng-icon [name]="item.icon" size="20px" />
        <span>{{ item.label }}</span>
      </button>
    } @else {
      <a
        pRipple
        draggable="false"
        [routerLink]="item.routerLink"
        class="flex px-2 items-center py-1 gap-2 cursor-pointer"
      >
        <ng-icon [name]="item.icon" size="20px" />
        <span>{{ item.label }}</span>
      </a>
    }
  </ng-template>
  <ng-template #end>
    @if (player) {
      <app-player-label [playerInfo]="player"></app-player-label>
    }
  </ng-template>
</p-menubar>
<app-seeks-dialog-component [(visible)]="seeksDialogVisible" />
<app-games-dialog-component [(visible)]="gamesDialogVisible" />
<app-new-game-dialog [(visible)]="newGameDialogVisible" />
