@let attrs = attributes();
@let label = meta().label?.text ?? '';
@switch (attrs.type) {
  @case ('submit') {
    <button
      class="mt-4"
      pButton
      pRipple
      [disabled]="attrs.disabled"
      [name]="attrs.name"
      [type]="attrs.type"
      [value]="attrs.value"
      (click)="onSubmit(attrs.value)"
    >
      <span pButtonLabel>{{ label }}</span>
    </button>
  }
  @case ('button') {
    <button
      pButton
      pRipple
      [disabled]="attrs.disabled"
      [name]="attrs.name"
      [type]="attrs.type"
      class="mt-4"
    >
      <span pButtonLabel>{{ label }}</span>
    </button>
  }
  @case ('hidden') {
    <input
      [id]="'kratos-hidden-' + attrs.name"
      [name]="attrs.name"
      [type]="attrs.type"
      [value]="attrs.value"
      hidden
    />
  }
  @case ('checkbox') {
    <label [for]="'kratos-checkbox-' + attrs.name">
      {{ label }}
      @if (attrs.required) {
        *
      }
    </label>
    <p-checkbox
      [(ngModel)]="value"
      [binary]="true"
      [disabled]="attrs.disabled"
      [name]="attrs.name"
      [required]="attrs.required ?? false"
      [inputId]="'kratos-checkbox-' + attrs.name"
    />
  }
  @case ('password') {
    <p-iftalabel class="mt-4">
      <p-password
        #inputElement="ngModel"
        fluid
        [toggleMask]="true"
        [inputId]="'kratos-input-' + attrs.name"
        [invalid]="!validity() && (inputElement.dirty || inputElement.touched)"
        [disabled]="attrs.disabled"
        [autocomplete]="attrs.autocomplete"
        [maxlength]="attrs.maxlength ?? null"
        [name]="attrs.name"
        [required]="attrs.required ?? false"
        [attr.pattern]="attrs.pattern ?? null"
        [feedback]="false"
        [(ngModel)]="value"
      />
      <label [for]="'kratos-input-' + attrs.name"
        >{{ label }}
        @if (attrs.required) {
          <span class="kratos-required-indicator">*</span>
        }
      </label>
    </p-iftalabel>
  }
  @default {
    <p-iftalabel class="mt-4">
      <input
        #inputElement="ngModel"
        pInputText
        fluid
        [id]="'kratos-input-' + attrs.name"
        [invalid]="!validity() && (inputElement.dirty || inputElement.touched)"
        [disabled]="attrs.disabled"
        [autocomplete]="attrs.autocomplete"
        [maxlength]="attrs.maxlength ?? null"
        [name]="attrs.name"
        [required]="attrs.required ?? false"
        [type]="attrs.type"
        [attr.pattern]="attrs.pattern ?? null"
        [(ngModel)]="value"
      />
      <label [for]="'kratos-input-' + attrs.name"
        >{{ label }}
        @if (attrs.required) {
          <span class="kratos-required-indicator">*</span>
        }
      </label>
    </p-iftalabel>
  }
}
@for (item of messages(); track $index) {
  <p-message
    [severity]="item.type === 'error' ? 'error' : 'info'"
    size="small"
    variant="simple"
    class="mt-4"
  >
    {{ item.text }}
  </p-message>
}
