/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark-mode, .dark-mode *));

html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}
