:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
