@let identity = identityService.identity();
<p-table [value]="seeks()" [rowTrackBy]="trackBy">
  <ng-template #header>
    <tr>
      <th></th>
      <th>Creator</th>
      <th>Board Size</th>
      <th>Komi</th>
      <th>Reserves</th>
      <th>Time Control</th>
    </tr>
  </ng-template>
  <ng-template #body let-item>
    @let seek = asSeek(item);
    @let isOwnSeek = identity && identity.playerId === seek.creatorId;
    <tr>
      <td>
        <button
          pButton
          pRipple
          (click)="isOwnSeek ? cancelSeek.emit(seek.id) : acceptSeek.emit(seek.id)"
          class="aspect-square"
          severity="secondary"
        >
          <ng-icon [name]="isOwnSeek ? 'lucideTrash' : 'lucideSwords'"></ng-icon>
        </button>
      </td>
      <td>
        <app-player-label [playerId]="seek.creatorId"></app-player-label>
      </td>
      <td>{{ seek.gameSettings.boardSize }}</td>
      <td>{{ seek.gameSettings.halfKomi / 2 }}</td>
      <td>{{ seek.gameSettings.pieces }} / {{ seek.gameSettings.capstones }}</td>
      <td>{{ seek.gameSettings.timeSettings | timeControl }}</td>
    </tr>
  </ng-template>
</p-table>

@if (seeks().length === 0) {
  <p class="text-center text-muted-color mt-4">No seeks available</p>
}
